<%= provide :site_title, 'Реєстрація |' %>
<%= provide :li_sign_up, 'active' %>
<div class="row">
  <div class="col-lg-5 col-lg-offset-4 col-md-5 col-md-offset-3 col-sm-10 col-xs-12">
    <!-- Square card -->
    <div class="demo-card-square mdl-card mdl-shadow--2dp" id="devise-cart">
      <div class="mdl-card__title mdl-card--expand">
        <%= image_tag('music/2', class: 'devise-image-cart') %>
        <h2 class="mdl-card__title-text">Реєстрація</h2>
      </div>
      <div class="mdl-card__actions mdl-card--border button-with-between">
        <a type="button" href="/users/auth/facebook" class="btn-fb mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color: #4264aa">
          <%= fa_icon 'facebook' %>
          Facebook
        </a>
        <a type="button" href="/users/auth/vkontakte" class="btn-fb mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color: #4C75A3">
          <%= fa_icon 'vk' %>
          Vkontakte
        </a>
        <a type="button" href="/users/auth/twitter" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color: #55ACEE">
          <%= fa_icon 'twitter' %>
          Twitter
        </a>
      </div>
      <div class="mdl-card__supporting-text">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages_alert! %>

            <div id="devise-form">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.text_field :name, class: 'mdl-textfield__input', minlength: 3 %>
                <%= f.label :name, class: 'mdl-textfield__label' %>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.email_field :email, class: 'mdl-textfield__input', autofocus: true %>
                <%= f.label :email, class: 'mdl-textfield__label' %>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.password_field :password, class: 'mdl-textfield__input', autocomplete: 'off' %>
                <%= f.label :password, class: 'mdl-textfield__label' %>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br/>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.password_field :password_confirmation, class: 'mdl-textfield__input', autocomplete: 'off' %>
                <%= f.label :password_confirmation, class: 'mdl-textfield__label' %>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= recaptcha_tags %>
              </div>
              <br>
              <br>
              <%= f.submit 'Зареєструватись', id: 'devise-button-submit', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
              <%= spinner_css %>
            </div>
            <%= render 'devise/shared/links' %>
        <% end %>
      </div>
    </div>
  </div>
</div>