<%= provide :site_title, 'Всі користувачі |' %>
<%= provide :li_all_users, 'active' %>
<div class="container">
  <div class="col-xs-12">
    <table class="table table-hover all-user-table">
      <thead>
      <tr>
        <th>Номер</th>
        <th>Імя</th>
        <th>Email</th>
        <th>Роль</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each_with_index do |user, i| %>
          <tr>
            <td> <%= i %> </td>
            <td> <%= user.name %> </td>
            <td> <%= user.email %> </td>
            <td>
              <% if user.has_role? :admin %>
                  <%= link_to 'user', "/user/#{user.id}/do_user", style: 'color: red' %>
                  /admin
              <% else %>
                  user/
                  <%= link_to 'admin', "/user/#{user.id}/do_admin", style: 'color: green' %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-align-center">
    <%= paginate @users %>
  </div>
</div>
