<%= provide :li_home, 'active' %>
<div class="row">
  <div class="flex-center-block">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
      <div class="search-inputs">
        <%= form_for :song, url: "#{I18n.locale}/songs/search", method: :get do |f| %>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="search" name="title" required="required">
              <label class="mdl-textfield__label" for="sample3"> <%= t('views.home.search_input') %></label>
            </div>
            <div class="button-with-between">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <%= fa_icon 'search' %> <%= t('views.home.search') %>
              </button>
              <%= link_to songs_path, type: 'button', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' do %>
                  <%= fa_icon 'music' %> <%= t('views.home.all_songs') %>
              <% end %>
              <%= link_to new_song_path, type: 'button', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' do %>
                  <%= fa_icon 'plus' %> <%= t('views.home.add_song') %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>