<%= provide :li_home, 'active' %>
<div class="flex-center-block">
  <div class="search-inputs">
    <%= form_for :song, url: '/songs/search', method: :get do |f| %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="search" name="title" required="required">
          <label class="mdl-textfield__label" for="sample3">Введіть назву пісні</label>
        </div>
        <div class="button-with-between">
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <%= fa_icon 'search' %> Пошук
          </button>
          <%= link_to songs_path, type: 'button', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' do %>
              <%= fa_icon 'music' %> Всі пісні
          <% end %>
          <%= link_to new_song_path, type: 'button', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' do %>
              <%= fa_icon 'plus' %> Додати пісню
          <% end %>
        </div>
    <% end %>
  </div>
</div>
