<div class="flex-center-block">
  <div class="search-inputs">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Введіть назву пісні</label>
      </div>
    </form>
    <div class="button-with-between">
      <%= link_to root_path, type: 'button', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' do %>
          <%= fa_icon 'search' %> Пошук
      <% end %>
      <%= link_to songs_path, type: 'button', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' do %>
          <%= fa_icon 'music' %> Всі пісні
      <% end %>
      <%= link_to new_song_path, type: 'button', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' do %>
          <%= fa_icon 'plus' %> Додати пісню
      <% end %>

    </div>
  </div>
</div>
