<div class="header-nav">
  <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored header-nav-button">
    <%= fa_icon('ellipsis-v') %>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-right">
    <li class="<%= yield :li_home %>">
      <%= link_to root_path, class: 'mdl-menu__item' do %>
          <%= fa_icon 'home' %> Головна
      <% end %>
    </li>
    <li class="<%= yield :li_all_songs %>">
      <%= link_to songs_path, class: 'mdl-menu__item' do %>
          <%= fa_icon 'music' %> Всі пісні
      <% end %>
    </li>
    <li class="mdl-menu__item--full-bleed-divider <%= yield :li_add_song %>">
      <%= link_to new_song_path, class: 'mdl-menu__item' do %>
          <%= fa_icon 'plus' %> Додати пісню
      <% end %>
    </li>
    <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
            <li class="<%= yield :li_new_songs %>">
              <%= link_to not_active_songs_path, class: 'mdl-menu__item' do %>
                  <%= fa_icon 'music' %> Нові пісні
              <% end %>
            </li>
            <li class="<%= yield :li_all_users %>">
              <%= link_to users_all_path, class: 'mdl-menu__item' do %>
                  <%= fa_icon 'users' %> Користувачі
              <% end %>
            </li>
            <li class="<%= yield :li_all_users %>">
              <%= link_to '/sidekiq', class: 'mdl-menu__item' do %>
                  <%= fa_icon 'area-chart' %> Процеси
              <% end %>
            </li>
        <% end %>
        <li class="<%= yield :li_edit_user %>">
          <%= link_to edit_user_registration_path, class: 'mdl-menu__item' do %>
              <%= fa_icon 'pencil-square-o' %> Редагувати профіл
          <% end %>
        </li>
        <li class="<%= yield :li_sign_in %>">
          <%= link_to destroy_user_session_path, method: :delete, class: 'mdl-menu__item' do %>
              <%= fa_icon 'sign-out' %> Вихід
          <% end %>
        </li>
    <% else %>
        <li class="<%= yield :li_sign_up %>">
          <%= link_to new_user_session_path, class: 'mdl-menu__item' do %>
              <%= fa_icon 'sign-in' %> Вхід
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path, class: 'mdl-menu__item' do %>
              <%= fa_icon 'registered' %> Реєстрація
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'layouts/alert' %>