<div class="header-nav">
  <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored header-nav-button">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-right">
    <li>
      <%= link_to root_path, class: 'mdl-menu__item' do %>
          <%= fa_icon 'home' %> Головна
      <% end %>
    </li>
    <li>
      <%= link_to songs_path, class: 'mdl-menu__item' do %>
          <%= fa_icon 'music' %> Всі пісні
      <% end %>
    </li>
    <li class="mdl-menu__item--full-bleed-divider">
      <%= link_to root_path, class: 'mdl-menu__item' do %>
          <%= fa_icon 'plus' %> Додати пісню
      <% end %>
    </li>
    <% if user_signed_in? %>
        <li>
          <%= link_to edit_user_registration_path, class: 'mdl-menu__item' do %>
              <%= fa_icon 'pencil-square-o' %> Редагувати профіл
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: 'mdl-menu__item' do %>
              <%= fa_icon 'sign-out' %> Вихід
          <% end %>
        </li>
    <% else %>
        <li>
          <%= link_to new_user_session_path, class: 'mdl-menu__item' do %>
              <%= fa_icon 'sign-in' %> Вхід
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path, class: 'mdl-menu__item' do %>
              <%= fa_icon 'registered' %> Реєстрація
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% flash.each do |name, msg| %>
          <div class="pad margin no-print">
            <%= content_tag :div, class: "alert alert-#{ name == 'error' ? 'danger' : 'success' } alert-dismissable", role: 'alert' do %>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <%= msg %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>